<h3 class="container col-6">Dados do contato</h3>

<div class="card container col-6">
  <form
    class="card-body"
    (ngSubmit)="enviarDados()"
    *ngIf="!enviado"
    #formulario="ngForm"
  >
    <div
      class="form-group"
      [class.has-sucess]="nome.valid"
      [class.has-danger]="nome.invalid"
    >
      <label for="nome">Nome</label>
      <input
        class="form-control"
        id="nome"
        type="text"
        name="nome"
        [class.form-control-success]="nome.valid"
        [(ngModel)]="_nome"
        #nome="ngModel"
        placeholder="digite o nome"
        required
      />

      <div [hidden]="nome.valid || nome.pristine">
        <small
          [ngClass]="{
            'form-control-danger': 'nome.invalid || nome.dirty',
            'form-control-feedback': 'nome.invalid || nome.dirty'
          }"
          >O nome é um campo obrigatório!</small
        >
      </div>
    </div>

    <div
      class="form-group"
      [class.has-sucess]="nome.valid"
      [class.has-danger]="nome.invalid"
    >
      <label for="telefone">Telefone</label>
      <input
        class="form-control"
        id="telefone"
        type="tel"
        name="telefone"
        [class.form-control-success]="telefone.valid"
        [(ngModel)]="_telefone"
        #telefone="ngModel"
        placeholder="digite o telefone"
        required
      />

      <div [hidden]="telefone.valid || telefone.pristine">
        <small
          [ngClass]="{
            'form-control-danger': 'telefone.invalid || telefone.dirty',
            'form-control-feedback': 'telefone.invalid || telefone.dirty'
          }"
          >O telefone é um campo obrigatório!</small
        >
      </div>
    </div>

    <div class="form-group">
      <label for="email">E-mail</label>
      <input
        class="form-control"
        id="email"
        type="email"
        name="email"
        [(ngModel)]="_email"
        #email="ngModel"
      />
    </div>

    <div class="form-group">
      <label for="tipo">Tipo de contato</label>
      <select
        class="form-control"
        id="tipo"
        name="tipo"
        [(ngModel)]="_tipo"
        #tipo="ngModel"
      >
        <option *ngFor="let item of tipos" [value]="item">{{ item }}</option>
      </select>
    </div>

    <button
      class="btn btn-primary mt-3"
      type="submit"
      [disabled]="formulario.invalid"
    >
      Cadastrar
    </button>
  </form>

  <div class="card-body" *ngIf="enviado">
    <h2 class="card-title">Dados do contato Enviados!</h2>

    <p class="card-text">
      Nome do Contato: <strong>{{ _nome }}</strong>
    </p>

    <p class="card-text">
      Telefone do Contato: <strong>{{ _telefone }}</strong>
    </p>

    <p class="card-text">
      E-mail do Contato: <strong>{{ _email }}</strong>
    </p>

    <p class="card-text">
      Tipo do Contato: <strong>{{ _tipo }}</strong>
    </p>

    <button class="btn btn-primary mt-3" (click)="voltar()">Voltar</button>
  </div>

</div>
